html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  background-color: white;
  font-variation-settings: "opsz" 32;
}

html.dark,
html.dark img,
html.dark image {
  filter: invert(1) hue-rotate(0.5turn);
}

img,
image {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}


a:link,
a:visited {
  color: #2c8dc2 !important;
}

* {
  word-wrap: break-word !important;
  /* -webkit-user-modify: read-write-plaintext-only;
  user-modify: read-write-plaintext-only; */
  user-select: text;
  -webkit-user-select: text;
  -webkit-touch-callout: none;
  /* -webkit-tap-highlight-color: #AC2937; */
}

/* IE9  - Also picked up by most modern browsers */
::selection {
  background:#AC2937;
  color:#FFF;
  text-shadow:none;
}

/* Safari & Chrome - Webkit Rendering */
::-webkit-selection {
  background:#AC2937;
  color:#FFF;
  text-shadow:none;
}

/* Mozilla based - Gecko Rendering */ 
::-moz-selection {
  background:#AC2937;
  color:#FFF;
  text-shadow:none;
}

@font-face {
  font-family: "Merriweather";
  src: url("/_fonts/variable/Merriweather.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Literata";
  src: url("/_fonts/variable/Literata.ttf") format("truetype-variations");
}

@font-face {
  font-family: "RobotoMono";
  src: url("/_fonts/variable/RobotoMono.ttf") format("truetype-variations");
}

.__highlight-bold {
  text-shadow: 1px 1px 1px white;
}

/*
html.dark .__highlight-bold {
  text-shadow: 1px 1px 1px white;
}
*/

.__note-has-desc {
  text-decoration-line: underline;
}

/* yellow */
.__highlight-yellow {
  background-color: rgb(255, 255, 0);
}

html.dark .__highlight-yellow {
  background-color: rgb(96, 96, 0);
}

/* green */
.__highlight-green {
  background-color: rgb(0, 255, 0);
}

html.dark .__highlight-green {
  background-color: rgb(0, 96, 2);
}

/* blue */
.__highlight-blue {
  background-color: rgb(0, 183, 255);
}

html.dark .__highlight-blue {
  background-color: rgb(0, 65, 96);
}

/* red */
.__highlight-red {
  background-color: rgb(255, 0, 0);
}

html.dark .__highlight-red {
  background-color: rgb(249, 119, 119);
}


:root {
  --light-blue-color: #b1d9ff;
  --dark-blue-color: #508fca;
}

.text-highlight {
  /* background: var(--light-blue-color); */
  border-radius: 2px;
  padding: 0 2px;
}

.text-highlight.__highlight-cor1 {
  background: #CDD4D9;
}

.text-highlight.__highlight-cor2 {
  background: #95A2AD;
}

.text-highlight.__highlight-cor3 {
  background: #FFFF00;
}

.text-highlight.__highlight-cor4 {
  background: #003B65;
  color: white;
}